
$primary-normal: #06121e; 
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light:  #1a1f25;

$black-normal: #000000;
$black-dark: #000000;
$black-light: #0e0c0c;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #FF0000;
$red-dark: #b42b2b;
$red-light: #d34040;